<div class="ui-g">
	<p-growl [value]="msgs" [life]="1000"></p-growl>
	<p-confirmDialog icon="fa fa-question-circle" width="425"></p-confirmDialog>

	<div class="ui-g-12 ui-md-6 ui-lg-6">
		<p-fieldset legend="权限信息">
			<!--function-->
			<p-menubar [model]="orgItems"></p-menubar>
			<!--end-->
			<p-dataList [value]="orgList" [paginator]="true" [rows]="9" [lazy]="true" (onLazyLoad)="LoadOrgListData($event)" [totalRecords]="totalRecords">
				<template let-e pTemplate="item">
					<div class="ui-grid ui-grid-responsive ui-fluid orgList" (click)="OrgClick(e)" [ngClass]="{'selected':e.id==selectedOrg.id}">
						{{e.name}}
					</div>
				</template>
			</p-dataList>
		</p-fieldset>
	</div>

	<div class="ui-g-12 ui-md-6 ui-lg-6">
		<p-fieldset legend="权限列表">
			<!--function-->
			<p-menubar [model]="authItems"></p-menubar>
			<!--end-->
			<p-tree [value]="trees" selectionMode="checkbox" [(selection)]="selectedNodes" (onNodeSelect)="NodeSelect($event)">
				<template let-node pTemplate="default">
					<span>{{node.name}}</span>
				</template>
			</p-tree>
		</p-fieldset>
	</div>

</div>