<p-growl [value]="msgs" [life]="1000"></p-growl>
<!--列表-->
<div class="ui-g" [ngClass]="{'is-hidden':step!=1}">

	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<app-list-component 
			[title]='title' 
			[menus]='menus' 
			[list]='list' 
			[obj]='this' 
			(initEvent)='ListInit($event)'
			(selectEvent)='SelectedRow($event)'></app-list-component>
	</div>
</div>

<!--单据信息-->
<div class="ui-g" [ngClass]="{'is-hidden':step!=2}">
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<p-fieldset legend="表单信息">
			<!-- 功能-->
			<p-menubar [model]="infoFuncs"></p-menubar>
			<app-form-component [form]='form' (save)='onSubmit($event)' (initEvent)='FormInit($event)'></app-form-component>
		</p-fieldset>
		<span [ngClass]="{'is-hidden':authData.length<=0}">
			<p-fieldset legend="审核信息">
				<p-dataTable [value]="authData">
					<p-column field="userName" header="用户名"></p-column>
					<p-column field="name" header="姓名"></p-column>
					<p-column field="status" header="状态"></p-column>
					<p-column field="createTime" header="审核时间"></p-column>
					<p-column field="remark" header="备注"></p-column>
				</p-dataTable>
			</p-fieldset>
		</span>
	</div>
</div>