<div style="z-index: 1000;" [ngClass]="{'is-hidden':!ct.loadingCompont}" class="ui-widget-overlay ui-dialog-mask">
	<div class="splash-screen">
		<div class="splash-container">
			<div class="logo"></div>
			<div class="load-bar">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
		</div>
	</div>
</div>
<div class="ui-dialog-mask" [ngClass]="{'is-hidden':!ct.loadingRequest}">
	<div class="spinner">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
</div>
<router-outlet></router-outlet>