.auth-main {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	position: absolute
}

.auth-block {
	width: 540px;
	margin: 0 auto;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.55);
	color: #fff;
	padding: 32px
}

.auth-block h1 {
	font-weight: 300;
	margin-bottom: 28px;
	text-align: center
}