<!--列表-->
<p-fieldset legend="{{title}}">
	<app-auth-funcs [menus]='menus' [obj]='obj' (initEvent)='InitFuncs($event)'></app-auth-funcs>
	<!--搜索-->
	<div class="ui-listbox-filter-container">
		<p-selectButton [options]="status" *ngIf='status.length>0' [(ngModel)]="selectedStatus" (click)="StatusClick()"></p-selectButton>
		<input pInputText type="text" [(ngModel)]="keyword" placeholder="关键字" />
		<button pButton type="button" (click)="Search()" icon="fa-search"></button>
	</div>
	<!--列表-->
	<!--列表-->
	<p-dataTable [value]="listData" (onRowSelect)='RowSelect($event)' [(selection)]="selectedObj" selectionMode="single" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totals" (onLazyLoad)="LoadData($event)">
		<p-column *ngFor="let el of list.model" field="{{el.field}}" header="{{el.header}}"></p-column>
	</p-dataTable>
</p-fieldset>